@import "_mixins";
@import "_variables";

@font-face {
  font-family: AvantGardeBold;
  src: url("ITCAvantGardeStdBold.woff");
}

@font-face {
  font-family: AvantGardeDemi;
  src: url("ITCAvantGardeStdDemi.woff");
}

@font-face {
  font-family: AvantGarde;
  src: url("ITCAvantGardeStdMd.woff");
}

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: AvantGardeBold;
  font-size: $mod_1 * $mod_1 * $mod_1 * $mod_1 * 1rem;
  @include fluid-type(
    $min_width,
    $max_width,
    $mod_1 * $mod_1 * $mod_1 * $min_font,
    $mod_2 * $mod_2 * $mod_2 * $min_font
  );
}
h2 {
  font-family: AvantGardeDemi;
  font-size: $mod_1 * $mod_1 * $mod_1 * 1rem;
  @include fluid-type(
    $min_width,
    $max_width,
    $mod_1 * $mod_1 * $mod_1 * $min_font,
    $mod_2 * $mod_2 * $mod_2 * $min_font
  );
}
h3 {
  font-family: AvantGardeDemi;
  font-size: $mod_1 * $mod_1 * 1rem;
  @include fluid-type(
    $min_width,
    $max_width,
    $mod_1 * $mod_1 * $min_font,
    $mod_2 * $mod_2 * $min_font
  );
  margin: 0.5em 0;
}

h4 {
  font-family: AvantGardeDemi;
  margin: 0.5em 0;
}

p {
  font-family: AvantGarde;
}

#mattHero {
  backface-visibility: hidden;
  perspective: 1000;
  transform-origin: 44.5% 45%;
  will-change: transform;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  @media screen and (max-width: 1024px) {
    transform-origin: 42.01% 53% !important;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}

#mattHeroMobile {
  backface-visibility: hidden;
  perspective: 1000;
  transform-origin: 44.9% 45%;
  will-change: transform;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: none;
  @media screen and (max-width: 1024px) {
    transform-origin: 42.01% 40% !important;
  }

  @media screen and (max-width: 768px) {
    display: block;
  }
}

.mask {
  width: 50%;
  height: 55vh;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

hr {
  background-color: #fff;
  border: 1px #fff solid;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
  }
}

.align-center {
  justify-content: center;
  align-items: center;
}

.d-flex {
  display: flex;
}

.svg-inline--fa {
  @media screen and (max-width: 768px) {
    font-size: $mod_1 * $mod_1 * $mod_1 * $mod_1 * 1rem !important;
    @include fluid-type(
      $min_width,
      $max_width,
      $mod_1 * $mod_1 * $mod_1 * $min_font,
      $mod_2 * $mod_2 * $mod_2 * $min_font
    );
    padding-top: 15px;
  }
}
